h1 {
    text-align: center;
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

hr {
    width: 45vw;
}

@media only screen and (max-width: 600px) {


    hr {
      width: 80vw;
    }

    h1 {
        font-size: medium;
    }
  
  }